@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Kalam&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}

body {
    background-color: #F50057
}

.wrapper {
    max-width: 850px;
    margin: 25px auto;
    background-color: #FFF;
    overflow: hidden;
    box-shadow: 5px 25px 35px #3535356b
}

.wrapper .bg-yellow {
    background-color: #fdc91f;
    height: auto;
    width: 40%;
    padding-top: 40px;
    padding-left: 50px;
    padding-right: 20px
}

.wrapper .bg-yellow .text-white {
    font-size: 3rem
}

.wrapper .bg-yellow .cursive {
    font-family: 'Kalam', cursive;
    font-size: 1rem;
    font-weight: 600
}

.wrapper .contact-form {
    width: 100%;
    padding: 40px 80px 40px 50px
}

.wrapper .contact-form .h3 {
    padding-top: 15px;
    font-weight: 700
}

.wrapper .contact-form label {
    font-size: 0.9rem;
    color: #555;
    font-weight:s 500;
    margin-bottom: 10px
}

.wrapper .contact-form textarea {
    height: 120px
}

.wrapper .contact-form .form-control {
    background-color: #e7e7e7;
    box-shadow: none;
    font-size: 0.95rem;
    border: none;
    border-top: 1px solid #bbb
}

.wrapper .contact-form .form-select {
    background-color: #e7e7e7;
    box-shadow: none;
    font-weight: 600;
    font-size: 0.95rem;
    border: none;
    border-top: 1px solid #bbb
}

.wrapper .contact-form .btn {
    font-size: 1.2rem;
    font-weight: 700
}

.wrapper .contact-form .btn.btn-default {
    color: #F50057
}

.wrapper .contact-form .btn.btn-primary {
    background: #F50057;
    border: none;
    padding: 8px 18px;
    box-shadow: 0 8px 12px #3535356b
}

.wrapper .contact-form .btn.btn-primary:hover {
    background-color: #f50056e5
}

.modal .modal-content .modal-header .fas {
    color: #F50057
}

@media(max-width: 900.5px) {
    .wrapper {
        margin: 20px
    }
}

@media(max-width: 575.5px) {
    .wrapper .contact-form {
        padding: 40px
    }

    .wrapper .bg-yellow {
        padding-left: 30px
    }
}

@media(max-width: 496px) {
    .wrapper .bg-yellow {
        display: none
    }
}

@media(max-width: 350px) {
    .wrapper .contact-form {
        padding: 20px
    }
}